<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../Statics/media/dededesexy.jpeg">
    <title>Dedede Shop</title>
    <link rel="stylesheet" href="../Statics/styles/index.css">
</head>
<body>
    <header>
        <h1>Dedede Shop</h1>
    </header>
    <section id="contenedor">
        <div id="Articulos">
            <div id="art1_contenedor" class="articulo">
                <h2>Art 1</h2>
                <img src="../Statics/media/camisa1.jpeg" alt="Batman">
                <p>Price: $10</p>
                <button id="art1" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art2_contenedor" class="articulo">
                <h2>Art 2</h2>
                <p>Price: $20</p>
                <button id="art2" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art3_contenedor" class="articulo">
                <h2>Art 3</h2>
                <p>Price: $30</p>
                <button id="art3" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art4_contenedor" class="articulo">
                <h2>Art 4</h2>
                <p>Price: $40</p>
                <button id="art4" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art5_contenedor" class="articulo">
                <h2>Art 5</h2>
                <p>Price: $50</p>
                <button id="art5" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art6_contenedor" class="articulo">
                <h2>Art 6</h2>
                <p>Price: $60</p>
                <button id="art6" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art7_contenedor" class="articulo">
                <h2>Art 7</h2>
                <p>Price: $70</p>
                <button id="art7" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art8_contenedor" class="articulo">
                <h2>Art 8</h2>
                <p>Price: $80</p>
                <button id="art8" class="add-to-cart">Add to Cart</button>
            </div>
            <div id="art9_contenedor" class="articulo">
                <h2>Art 9</h2>
                <p>Price: $90</p>
                <button id="art9" class="add-to-cart">Add to Cart</button>
            </div>
        </div>
        <div id="Carrito">
            <h2>Shopping Cart</h2>
            <div id="cart-items">
                <ul id="cart-list">
                    
                </ul>
                <p id="total"></p>
            </div>
        </div>
    </section>
    
</body>
<script src="../Dynamics/js/index.js">

</script>
</html>
